.header {
    background-color: #ededed; /* Màu xám nhạt */
    padding: 10px;
    width: 100%;
    border-radius: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

    .nav h1 {
        color: rgb(18, 209, 41);
        margin: 0;
        font-size: 40px;
    }

.nav {
    display: flex;
    justify-content: space-between;
}

    .nav h1 {
        color: rgb(18, 209, 41);
        margin: 0;
        font-size: 40px;
    }

    .nav .nav-search {
        flex: 1;
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;
    }

        .nav .nav-search input {
            flex: 1;
            color: rgb(18, 209, 41);
            border: 1px solid rgb(18, 209, 41);
            height: 39px;
            border-right: none;
        }

        .nav .nav-search button {
            color: rgb(18, 209, 41);
            border: 1px solid rgb(18, 209, 41);
            height: 39px;
        }

    .nav ul {
        display: inline-flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .nav ul li {
            padding-left: 15px;
            padding-top: 15px;
        }

        .nav ul a {
            text-decoration: none;
            color: rgb(18, 209, 41);
            cursor: pointer;
        }

h1 a {
    color: rgb(18, 209, 41);
    text-decoration: none;
}

.suggested-search {
    position: absolute;
    top: 40px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
}

    .suggested-search li {
        padding: 5px;
        border: 1px solid #ddd;
    }

        .suggested-search li a {
            cursor: pointer;
            color: rgb(18, 209, 41);
        }

.nav-search input {
    size: 0cap;
    border-radius: 10px;
}

.nav-search button {
    border-radius: 20px;
}
.container {
    padding: 20px;
}

.product-list-wrapper {
    margin-top: 20px;
}

.product-header-image {
    object-fit: contain;
    width: 100%;
    height: 500px;
}

.product-item {
    margin-bottom: 40px;
    border: 1px solid #ccc;
}

    .product-item img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .product-item .product-details {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 15px;
    }

    .product-item .name-head {
        font-size: 20px;
        font-weight: 600;
    }

    .product-item h6 {
        text-align: center;
    }

    .product-item .product-footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

.product-footer a {
    margin-left: 15px;
    color: blue;
    text-decoration: none;
}

    .product-footer a:hover {
        color: rgb(18, 209, 41);
    }
/* CSS cho danh mục sản phẩm */
.category-frame {
    border: 1px solid #ccc;
    padding: 10px;
}

    .category-frame h2 {
        text-align: center;
    }

    .category-frame ul {
        list-style: none;
        padding: 0;
    }

    .category-frame li {
        margin-bottom: 5px;
        border: 1px solid #ccc;
        padding: 8px;
    }

        .category-frame li a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }

            .category-frame li a:hover {
                color: rgb(18, 209, 41);
            }
  
  
  
  
  
  
  